#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

if ARCH_BOARD_WAVESHARE_RP2040_LCD_1_28

config RP2040_AP_IMAGE
	bool "Build as AP image (SRAM-only, for bootloader loading)"
	default n
	---help---
		Build the image as an AP (Application Processor) image that
		will be loaded by the bootloader.  Uses the SRAM AP linker
		script with ORIGIN at CONFIG_BOOT_RP2040BOOT_AP_BASE.

endif
