#include "../fastboot_usb/defconfig"
CONFIG_BCH=y
CONFIG_BOARDCTL_BOOT_IMAGE=y
CONFIG_BOARDCTL_RESET_CAUSE=y
CONFIG_DRVR_MKRD=y
CONFIG_ETC_ROMFS=y
CONFIG_FS_ROMFS=y
CONFIG_LIBC_ELF=y
CONFIG_LIBC_ELF_LOADTO_LMA=y
CONFIG_LIBC_EXECFUNCS=y
CONFIG_MTD=y
CONFIG_MTD_PARTITION=y
CONFIG_PIPES=y
CONFIG_RAM_SIZE=32768
CONFIG_RP2040_IMAGE_BOOTLOADER=y
CONFIG_SYSTEM_FASTBOOTD_SHELL=y
CONFIG_SYSTEM_NSH=y
CONFIG_SYSTEM_POPEN=y
CONFIG_TXTABLE_DEFAULT_PARTITION=1
CONFIG_TXTABLE_DEFAULT_PARTITION_PATH="/etc/txtable.txt"
CONFIG_TXTABLE_PARTITION=y
CONFIG_TXTABLE_PARTITION_MAX_NUM=16
